body {
	max-width: 100%;
	overflow-x: hidden;
}

#footer {
	text-align: center;
	position: relative;
	top: 33px;
}

.room {
	width: 8%;
}

.present {
	width: 10%;
}

.detail {
	width: 5%;
}

.quote {
	width: 10%;
}

.income {
	width: 8%;
}

.school {
	width: 12%;
}

.month .ui-datepicker-calendar {
	display: none;
}

.year .ui-datepicker-calendar {
	display: none;
}

.year .ui-datepicker-month {
	display: none;
}

.year .ui-datepicker-prev {
	display: none;
}

.year .ui-datepicker-next {
	display: none;
}

#content {
	position: relative;
	bottom: 40px;
}