<!--
/******************************************************************************
 * Vige, Home of Professional Open Source Copyright 2010, Vige, and           *
 * individual contributors by the @authors tag. See the copyright.txt in the  *
 * distribution for a full listing of individual contributors.                *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may    *
 * not use this file except in compliance with the License. You may obtain    *
 * a copy of the License at http://www.apache.org/licenses/LICENSE-2.0        *
 * Unless required by applicable law or agreed to in writing, software        *
 * distributed under the License is distributed on an "AS IS" BASIS,          *
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   *
 * See the License for the specific language governing permissions and        *
 * limitations under the License.                                             *
 ******************************************************************************/
-->

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">

	<session-config>
		<session-timeout>6</session-timeout>
	</session-config>

	<!-- integrating BASIC AUTH for the standalone REST version -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Authenticated</web-resource-name>
			<description></description>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
			<role-name>donlorenzomilani</role-name>
			<role-name>donlorenzomilani-0A</role-name>
			<role-name>donlorenzomilani-0B</role-name>
			<role-name>donlorenzomilani-0C</role-name>
			<role-name>donlorenzomilani-1A</role-name>
			<role-name>donlorenzomilani-2A</role-name>
			<role-name>donlorenzomilani-3A</role-name>
			<role-name>donlorenzomilani-4A</role-name>
			<role-name>donlorenzomilani-5A</role-name>
			<role-name>donlorenzomilani-1B</role-name>
			<role-name>donlorenzomilani-2B</role-name>
			<role-name>donlorenzomilani-3B</role-name>
			<role-name>donlorenzomilani-4B</role-name>
			<role-name>donlorenzomilani-5B</role-name>
			<role-name>edoardodefilippo</role-name>
			<role-name>edoardodefilippo-0B</role-name>
			<role-name>edoardodefilippo-0C</role-name>
			<role-name>edoardodefilippo-0D</role-name>
			<role-name>edoardodefilippo-1A</role-name>
			<role-name>edoardodefilippo-2A</role-name>
			<role-name>edoardodefilippo-3A</role-name>
			<role-name>edoardodefilippo-4A</role-name>
			<role-name>edoardodefilippo-5A</role-name>
			<role-name>edoardodefilippo-1C</role-name>
			<role-name>edoardodefilippo-2C</role-name>
			<role-name>edoardodefilippo-3C</role-name>
			<role-name>edoardodefilippo-4C</role-name>
			<role-name>edoardodefilippo-5C</role-name>
			<role-name>edoardodefilippo-2F</role-name>
			<role-name>edoardodefilippo-3F</role-name>
			<role-name>edoardodefilippo-4F</role-name>
			<role-name>edoardodefilippo-5F</role-name>
			<role-name>edoardodefilippo-5G</role-name>
			<role-name>garibaldi</role-name>
			<role-name>garibaldi-0A</role-name>
			<role-name>garibaldi-0B</role-name>
			<role-name>garibaldi-0C</role-name>
			<role-name>garibaldi-1A</role-name>
			<role-name>garibaldi-2A</role-name>
			<role-name>garibaldi-3A</role-name>
			<role-name>garibaldi-4A</role-name>
			<role-name>garibaldi-5A</role-name>
			<role-name>garibaldi-5B</role-name>
			<role-name>garibaldi-1G</role-name>
			<role-name>garibaldi-2G</role-name>
			<role-name>garibaldi-3G</role-name>
			<role-name>garibaldi-1B</role-name>
			<role-name>garibaldi-2B</role-name>
			<role-name>garibaldi-3B</role-name>
			<role-name>garibaldi-4B</role-name>
			<role-name>garibaldi-1C</role-name>
			<role-name>garibaldi-2C</role-name>
			<role-name>garibaldi-3C</role-name>
			<role-name>garibaldi-4C</role-name>
			<role-name>garibaldi-5C</role-name>
			<role-name>giovannixxiii</role-name>
			<role-name>giovannixxiii-0A</role-name>
			<role-name>giovannixxiii-0B</role-name>
			<role-name>giovannixxiii-1A</role-name>
			<role-name>giovannixxiii-2A</role-name>
			<role-name>giovannixxiii-3A</role-name>
			<role-name>giovannixxiii-4A</role-name>
			<role-name>giovannixxiii-5A</role-name>
			<role-name>giovannixxiii-1C</role-name>
			<role-name>giovannixxiii-2C</role-name>
			<role-name>giovannixxiii-3C</role-name>
			<role-name>giovannixxiii-4C</role-name>
			<role-name>giovannixxiii-5C</role-name>
			<role-name>leonardodavinci</role-name>
			<role-name>leonardodavinci-0C</role-name>
			<role-name>leonardodavinci-0E</role-name>
			<role-name>leonardodavinci-0F</role-name>
			<role-name>leonardodavinci-0I</role-name>
			<role-name>leonardodavinci-0B</role-name>
			<role-name>leonardodavinci-2C</role-name>
			<role-name>leonardodavinci-4C</role-name>
			<role-name>leonardodavinci-5C</role-name>
			<role-name>leonardodavinci-1D</role-name>
			<role-name>leonardodavinci-2D</role-name>
			<role-name>leonardodavinci-3D</role-name>
			<role-name>leonardodavinci-4D</role-name>
			<role-name>leonardodavinci-5D</role-name>
			<role-name>leonardodavinci-1E</role-name>
			<role-name>leonardodavinci-2E</role-name>
			<role-name>leonardodavinci-3E</role-name>
			<role-name>leonardodavinci-4E</role-name>
			<role-name>leonardodavinci-5E</role-name>
			<role-name>leonardodavinci-1F</role-name>
			<role-name>leonardodavinci-3F</role-name>
			<role-name>manzi</role-name>
			<role-name>manzi-0D</role-name>
			<role-name>manzi-0E</role-name>
			<role-name>manzi-0G</role-name>
			<role-name>manzi-1D</role-name>
			<role-name>manzi-2D</role-name>
			<role-name>manzi-3D</role-name>
			<role-name>manzi-4D</role-name>
			<role-name>manzi-5D</role-name>
			<role-name>manzi-1E</role-name>
			<role-name>manzi-2E</role-name>
			<role-name>manzi-3E</role-name>
			<role-name>manzi-4E</role-name>
			<role-name>manzi-5E</role-name>
			<role-name>montecelio</role-name>
			<role-name>montecelio-0A</role-name>
			<role-name>montecelio-2B</role-name>
			<role-name>montelucci</role-name>
			<role-name>montelucci-0B</role-name>
			<role-name>montelucci-0E</role-name>
			<role-name>montelucci-1C</role-name>
			<role-name>montelucci-2C</role-name>
			<role-name>montelucci-3C</role-name>
			<role-name>montelucci-4C</role-name>
			<role-name>montelucci-5C</role-name>
			<role-name>montelucci-1D</role-name>
			<role-name>montelucci-2D</role-name>
			<role-name>montelucci-3D</role-name>
			<role-name>montelucci-4D</role-name>
			<role-name>montelucci-5D</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>School</realm-name>
	</login-config>
	<security-role>
		<role-name>admin</role-name>
	</security-role>
	<security-role>
		<role-name>donlorenzomilani</role-name>
	</security-role>
	<security-role>
		<role-name>donlorenzomilani-0A</role-name>
	</security-role>
	<security-role>
		<role-name>donlorenzomilani-0B</role-name>
	</security-role>
	<security-role>
		<role-name>donlorenzomilani-0C</role-name>
	</security-role>
	<security-role>
		<role-name>donlorenzomilani-1A</role-name>
	</security-role>
	<security-role>
		<role-name>donlorenzomilani-2A</role-name>
	</security-role>
	<security-role>
		<role-name>donlorenzomilani-3A</role-name>
	</security-role>
	<security-role>
		<role-name>donlorenzomilani-4A</role-name>
	</security-role>
	<security-role>
		<role-name>donlorenzomilani-5A</role-name>
	</security-role>
	<security-role>
		<role-name>donlorenzomilani-1B</role-name>
	</security-role>
	<security-role>
		<role-name>donlorenzomilani-2B</role-name>
	</security-role>
	<security-role>
		<role-name>donlorenzomilani-3B</role-name>
	</security-role>
	<security-role>
		<role-name>donlorenzomilani-4B</role-name>
	</security-role>
	<security-role>
		<role-name>donlorenzomilani-5B</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-0B</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-0C</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-0D</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-1A</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-2A</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-3A</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-4A</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-5A</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-1C</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-2C</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-3C</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-4C</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-5C</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-2F</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-3F</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-4F</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-5F</role-name>
	</security-role>
	<security-role>
		<role-name>edoardodefilippo-5G</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-0A</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-0B</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-0C</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-1A</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-2A</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-3A</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-4A</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-5A</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-5B</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-1G</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-2G</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-3G</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-1B</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-2B</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-3B</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-4B</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-1C</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-2C</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-3C</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-4C</role-name>
	</security-role>
	<security-role>
		<role-name>garibaldi-5C</role-name>
	</security-role>
	<security-role>
		<role-name>giovannixxiii</role-name>
	</security-role>
	<security-role>
		<role-name>giovannixxiii-0A</role-name>
	</security-role>
	<security-role>
		<role-name>giovannixxiii-0B</role-name>
	</security-role>
	<security-role>
		<role-name>giovannixxiii-1A</role-name>
	</security-role>
	<security-role>
		<role-name>giovannixxiii-2A</role-name>
	</security-role>
	<security-role>
		<role-name>giovannixxiii-3A</role-name>
	</security-role>
	<security-role>
		<role-name>giovannixxiii-4A</role-name>
	</security-role>
	<security-role>
		<role-name>giovannixxiii-5A</role-name>
	</security-role>
	<security-role>
		<role-name>giovannixxiii-1C</role-name>
	</security-role>
	<security-role>
		<role-name>giovannixxiii-2C</role-name>
	</security-role>
	<security-role>
		<role-name>giovannixxiii-3C</role-name>
	</security-role>
	<security-role>
		<role-name>giovannixxiii-4C</role-name>
	</security-role>
	<security-role>
		<role-name>giovannixxiii-5C</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-0C</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-0E</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-0F</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-0I</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-0B</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-2C</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-4C</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-5C</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-1D</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-2D</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-3D</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-4D</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-5D</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-1E</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-2E</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-3E</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-4E</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-5E</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-1F</role-name>
	</security-role>
	<security-role>
		<role-name>leonardodavinci-3F</role-name>
	</security-role>
	<security-role>
		<role-name>manzi</role-name>
	</security-role>
	<security-role>
		<role-name>manzi-0D</role-name>
	</security-role>
	<security-role>
		<role-name>manzi-0E</role-name>
	</security-role>
	<security-role>
		<role-name>manzi-0G</role-name>
	</security-role>
	<security-role>
		<role-name>manzi-1D</role-name>
	</security-role>
	<security-role>
		<role-name>manzi-2D</role-name>
	</security-role>
	<security-role>
		<role-name>manzi-3D</role-name>
	</security-role>
	<security-role>
		<role-name>manzi-4D</role-name>
	</security-role>
	<security-role>
		<role-name>manzi-5D</role-name>
	</security-role>
	<security-role>
		<role-name>manzi-1E</role-name>
	</security-role>
	<security-role>
		<role-name>anzi-2E</role-name>
	</security-role>
	<security-role>
		<role-name>manzi-3E</role-name>
	</security-role>
	<security-role>
		<role-name>manzi-4E</role-name>
	</security-role>
	<security-role>
		<role-name>manzi-5E</role-name>
	</security-role>
	<security-role>
		<role-name>montecelio</role-name>
	</security-role>
	<security-role>
		<role-name>montecelio-0A</role-name>
	</security-role>
	<security-role>
		<role-name>montecelio-2B</role-name>
	</security-role>
	<security-role>
		<role-name>montelucci</role-name>
	</security-role>
	<security-role>
		<role-name>montelucci-0B</role-name>
	</security-role>
	<security-role>
		<role-name>montelucci-0E</role-name>
	</security-role>
	<security-role>
		<role-name>montelucci-1C</role-name>
	</security-role>
	<security-role>
		<role-name>montelucci-2C</role-name>
	</security-role>
	<security-role>
		<role-name>montelucci-3C</role-name>
	</security-role>
	<security-role>
		<role-name>montelucci-4C</role-name>
	</security-role>
	<security-role>
		<role-name>montelucci-5C</role-name>
	</security-role>
	<security-role>
		<role-name>montelucci-1D</role-name>
	</security-role>
	<security-role>
		<role-name>montelucci-2D</role-name>
	</security-role>
	<security-role>
		<role-name>montelucci-3D</role-name>
	</security-role>
	<security-role>
		<role-name>montelucci-4D</role-name>
	</security-role>
	<security-role>
		<role-name>montelucci-5D</role-name>
	</security-role>
</web-app>
