<div data-ng-controller="SchoolTabCtrl">
    <h1 data-ng-hide="create">
        {{user.username|capitalize}}
        <i id="removeSchool" class="pficon pficon-delete clickable" data-ng-show="!create && access.manageUsers" data-ng-click="removeUser()"></i>
    </h1>
    <h1 data-ng-show="create">{{:: 'add-school' | translate}}</h1>

    <ul class="nav nav-tabs" data-ng-show="!create">
        <li ng-class="{active: !path[4] && path[0] != 'create'}"><a href="#/realms/{{realm.realm}}/rooms/{{user.id}}">{{:: 'details' | translate}}</a></li>
        <li ng-class="{active: path[4] == 'school-attributes'}"><a href="#/realms/{{realm.realm}}/rooms/{{user.id}}/school-attributes">{{:: 'rooms' | translate}}</a></li>
    </ul>
</div>