#footer {
	text-align: center;
	position: relative;
	top: 33px;
}

.room {
	width: 8%;
}

.logout {
	left: 94%;
	bottom: 55px;
}

.present {
	width: 10%;
}

.detail {
	width: 5%;
}

.quote {
	width: 10%;
}

.income {
	width: 8%;
}

.school {
	width: 12%;
}

.month {
	left: 16%;
	position: relative;
	top: 94px;
}

.month .ui-datepicker-calendar {
	display: none;
}

.yearlabel {
	left: 41%;
	position: relative;
	top: 71px;
}

.year {
	left: 51%;
	position: relative;
	top: 31px;
}

.year .ui-datepicker-calendar {
	display: none;
}

.year .ui-datepicker-month {
	display: none;
}

.year .ui-datepicker-prev {
	display: none;
}

.year .ui-datepicker-next {
	display: none;
}

#content {
	position: relative;
	bottom: 40px;
}

.periodLabel {
	position: relative;
	left: 76%;
}

.refreshreport {
	position: relative;
	bottom: 49px;
	left: 73.6%;
}

.refreshdetail {
	position: relative;
	bottom: 49px;
	left: 75%;
}

.subreportLabel {
	position: relative;
	top: 134px;
}

.pagereport {
	position: relative;
	bottom: 49px;
	left: 73.5%;
}

.refreshinsert {
	position: relative;
	bottom: 48px;
	left: 50.5%;
}

.pageinsert {
	position: relative;
	bottom: 48px;
	left: 50.5%;
}

.pageinsertdetail {
	position: relative;
	bottom: 49px;
	left: 75%;
}

.reportform {
	position: relative;
	bottom: 125px;
}