#footer {
	text-align: center;
	position: relative;
	top: 33px;
}

.room {
	width: 8%;
}

.present {
	width: 10%;
}

.income {
	width: 8%;
}

.school {
	width: 12%;
}

.hasDatepicker .ui-datepicker-calendar {
	display: none;
}